<h1>New tweet</h1>
<%= form_with scope: :tweet, url: '/tweets', local: true do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit "Save tweet" %>
  </p>
<% end %>
